.tooling-project/cached/MuleMCPWIP/src/main/mule/mule-mcpwip.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
xmlns:http="http://www.mulesoft.org/schema/mule/http"
xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="8090"/>
    </http:listener-config>

    <http:request-config name="GitHub_Gist_Request_config" doc:name="GitHub Gist Request config">
        <http:request-connection host="gist.githubusercontent.com" port="443" protocol="HTTPS"/>
    </http:request-config>

    <!-- CHANGED: SSE to Streamable HTTP -->
    <mcp:server-config name="MCP_Server_Config" 
                       doc:name="MCP Server Config"
                       serverName="Japan HQ Live Parts MCP Server" 
                       serverVersion="1.0.0">
        <mcp:streamable-http-server-connection 
            listenerConfig="HTTP_Listener_config"
            mcpEndpointPath="/mcp"/>
    </mcp:server-config>

    <flow name="japan-parts-resource-flow" doc:name="Japan Parts Resource Flow">
        <mcp:resource-listener 
            doc:name="Japan Parts Resource"
            name="japan-parts-database"
            config-ref="MCP_Server_Config"
            uri="japan/parts" 
            resourceMimeType="text/plain">
            <mcp:description><![CDATA[Japan HQ Live Parts Database – Real-time document loaded from GitHub Gist.]]></mcp:description>
            <mcp:resource-listener-content>
                <mcp:text-resource text="#[payload]" />
            </mcp:resource-listener-content>
        </mcp:resource-listener>

        <http:request 
            method="GET"
            doc:name="Fetch Gist Content"
            config-ref="GitHub_Gist_Request_config"
            path="/lightningexperience/1c3e9ceb0a34ffb4836d99f72baaf476/raw/japan_live_parts_database.md"/>
    </flow>

    <flow name="health-check-flow" doc:name="Health Check">
        <http:listener doc:name="Health Listener" 
                       config-ref="HTTP_Listener_config" 
                       path="/health"/>
        <ee:transform doc:name="Health Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "healthy",
    service: "Japan HQ Live Parts MCP Server",
    mcpEndpoint: "/mcp",
    resources: ["japan/parts"]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>